body, #app, .page {
  @apply font-sans;
  @appy m-0;
  height: 100%;
}
body {
  @apply bg-white;
}

.page {
  min-height: 100vh!important;
  @apply bg-grey-lighter flex flex-col m-auto;
  max-width: 500px !important;


}

.page-heading {
  @apply bg-blue text-white text-lg font-bold text-4xl flex content-center;


  @apply p-3 pt-10;
  h1 {
    @apply text-white mt-auto mb-0;
  }

  .icon {
    @apply mt-auto ;
  }

}

.auth {

  @apply p-5 text-center bg-white h-screen;
  .back {
    @apply font-bold text-blue mr-auto;
  }

  p {
    @apply mb-auto font-light text-sm;
  }

  b {
    @apply font-bold;
  }

  form {
    @apply m-auto;
    .error {
      @apply text-red;
    }

    input {
      @apply border-solid border-4 border-blue font-bold text-xl text-center ;
      border-top: none;
      border-right: none;
      border-left: none;

      &:focus {
        outline: none;
      }
    }
  }

}

.onBoarding {

  @apply p-5 text-center bg-white h-screen;


  svg {
    @apply m-auto mb-3;

  }

  h1 {
    @apply text-2xl font-bold m-auto mb-1 mt-3;
  }

  p {
    @apply font-light mb-auto text-sm;

  }

  .btn--outline {
    @apply mt-2;
  }

  small {
    @apply mt-2;
  }
}

.home-locations {
  @apply bg-grey-dark p-3 flex justify-between content-center;
  height: 14vh;
  top: 0;
  position: -webkit-sticky;
  position: sticky;


  .locations-location {
    @apply flex flex-col justify-center flex-grow-0 w-2/5;
    .location-heading {
      @apply text-white text-xs font-light;
    }

    .location-value {
      @apply text-white font-bold;
    }
  }
}

.home-trip {
  @apply bg-white ml-3 mr-3 mt-3 shadow rounded p-4 flex flex-col justify-center;
  height: 30vh;
  top: 10vh;
  position: -webkit-sticky;
  position: sticky;

  .desc {
    font-size: 0.6rem;
    @apply mb-0;
  }

  .trip-time {
    @apply flex mb-auto content-center justify-between;

    .trip-enroute {
      @apply font-bold text-lg mt-auto mb-1;

      span {
        @apply font-light text-sm;
      }
    }

    .trip-timeblock {
      @apply flex flex-col;
      .timeblock-header {
        @apply text-blue font-bold text-xs;
      }

      .timeblock-time {
        @apply font-bold text-2xl;
      }
    }
  }


}

.home-schedule {
  @apply p-3;
  @apply flex flex-col;
  .schedule-train {
    @apply flex bg-white rounded content-center mt-3;
    height: 3rem;

    div {
      @apply flex flex-col justify-center;
    }

    .train-color {
      @apply rounded-l w-3;
    }


    .line-value {
      @apply font-bold text-sm mt-0 leading-none;
    }

    .train-header {
      @apply font-light text-xs mb-0 leading-none;
    }

    .train-line {
      @apply mr-auto ml-2;
    }

    .train-data {
      @apply mr-2 text-right;
    }

    .data-value {
      @apply font-bold text-sm;
      span {
        @apply font-light text-xs;
      }
    }
  }
}

.search > .page-heading {
  position: -webkit-sticky;
  position: sticky;
  top: -2rem;
}


.search input {
  @apply bg-blue w-full;
  &:focus {
    outline: none;
  }
}

.search-suggestions {
  @apply p-3 pt-0;

}

.search-suggestion {
  @apply rounded bg-white flex p-2 content-center mt-3;
}

.suggestion-station {
  @apply font-bold m-auto ml-0;
}

.suggestion-data {
  @apply flex flex-col mr-2 text-right;
  .data-header {
    @apply font-light text-xs;
  }

  .data-value {
    @apply font-bold text-sm;
  }
}

.settings > .page-heading {
  position: -webkit-sticky;
  position: sticky;
  top: -2rem;
}

.settings-options {
  @apply flex flex-col p-3;

}

.settings-block-header {
  @apply flex justify-between;
  h3 {
    @apply font-bold text-lg;
  }

  p {
    @apply text-blue;
  }
}

.settings-block-desc {
  @apply font-light text-sm mt-2 mb-2;
}

.copyright {
  @apply font-light text-xs mt-auto text-center;
}

.settings-block {
  @apply border-b pb-2 mb-3 border-grey;
}

.settings-block-accountRow {
  .accountRow-option {
    @apply mt-2;
  }
}

.settings-block-notificationRow {
  @apply flex justify-between;
  .notificationRow-option {
    @apply border-grey-dark border-2 p-2 pt-0 pb-0 rounded;
  }

  .notificationRow-option.selected {
    @apply border-blue text-blue;
  }
}

.YELLOW {
  @apply bg-yellow;
}

.ORANGE {
  @apply bg-orange ;
}

.BLUE {
  @apply bg-blue ;
}

.GREEN {
  @apply bg-green ;
}

.RED {
  @apply bg-red ;
}

.loading {
  background: url('../splashscreen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  img {
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
  }
}